/**
 * Reset Body / Html
 ************************/

html,
body {
    margin: 0;
}


/**
 * Box Sizing
 ************************/

*,
input, textarea, button {
    box-sizing: border-box;
}


/**
 * Overflow
 ************************/

 div, section, header, footer, article {
     overflow: auto;
 }
