/**
 * Icon
 ************************/

@mixin icon($size: "base") {
  height: spacing($size);
  width: spacing($size);
  margin: spacing($size);
  display: inline-block;

  object {
    height: spacing($size);
    width: spacing($size);
    pointer-events: none;
  }
}

.icon,
%icon {
  @include icon();
}

/**
 * Icon Small
 ************************/

.icon--sm,
%icon--sm {
  @include icon(sm);
}

/**
 * Icon Large
 ************************/

.icon--lg,
%icon--lg {
  @include icon(lg);
}

/**
 * Icon Card
 ************************/

.icon--card,
%icon--card {
  width: 5em;
  height: 3em;

  &.icon--sm {
    width: 3em;
    height: 2em;
  }

  &.icon--lg {
    width: 6em;
    height: 4em;
  }
}

/**
 * Icon Hover
 ************************/

.icon--hover,
%icon--hover {
  &:hover {
    svg {
      fill: color(primary);
      transition: fill $animation-speed ease;
    }
  }
}
