/**
 * Fixed Header
 ************************/

@if $header-fixed {
    .page__main {
        padding-top: $header-height + ( 2 * $header-padding);
    }
}


/**
 * Sidebar Header
 ************************/

 @if $header-sidebar {
     .page__main {
         width: 100%;

        @include breakpoint(screen(lg)) {
            margin-top: spacing();
            margin-left: $header-sidebar-width;
        }
     }
 }
