/**
 * Font Anti Aliasing
 ************************/

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
    html {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

/**
 * Selection
 ************************/

%selection::selection {
    background: color(accent);
    color: color(neutral, white);
    text-decoration-color: color(neutral, white);
}

* {
    @extend %selection;
}


/**
 * Typography
 ************************/

html {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $line-height;
    color: color(neutral, dark);
}

ul, ol, p {
    margin-top: 0;
    margin-bottom: spacing();
}

ul, ol {
    ul, ol {
        margin-bottom: 0;
    }
}

strong, b {
    font-weight: $font-weight-bold;
    color: color(neutral, darker);
}

dfn, em, i, cite {
    font-style: italic;
}

sub,
sup,
small {
    font-size: $font-size-sm;
}

kbd,
samp {
    font-size: $font-size;
}

mark {
    background: color(contextual, error);
    color: color(neutral, black);
}


/**
 * Link
 ************************/

a,
.link,
%link {
    color: color(accent);
    touch-action: manipulation;
    transition: color $animation-speed ease;

    &:hover {
        color: lighten(color(accent), 10%);
    }
}


/**
 * Lead
 ************************/

.lead,
%lead {
    font-size: $font-size-lg;
}


/**
 * Micro
 ************************/

.micro,
%micro {
    font-size: $font-size-sm;
}
