/**
 * Header
 ************************/

.header {
    height: $header-height;
    overflow: visible;

    &__wrapper {
        padding: $header-padding 0;
        background: $header-background;
        box-shadow: $header-box-shadow;

        @if $header-fixed {
            position: fixed;
            top: 0;
            width: 100%;
        }
    }

    &--edges {
        @extend %u-flex--edges;
    }
}


/**
 * Header Branding
 ************************/

.header {
    &__logo {
        height: $logo-height;
    }
}


/**
 * Header Fixed
 ************************/

.page__wrapper {
    @include breakpoint(screen(lg)) {
        display: flex;
        flex-direction: row nowrap;
    }
}

@if $header-sidebar {
    .header__wrapper {
        @include breakpoint(screen(lg)) {
            width: $header-sidebar-width;
            height: 100%;
            box-shadow: rgba(102, 102, 102, 0.3) .75em 0 1.5em -1em;
            background: $header-sidebar-background;
        }
    }

    .header {
        @include breakpoint(screen(lg)) {
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }

    .header__branding {
        @include breakpoint(screen(lg)) {
            margin-top: spacing(xs);
        }
    }

    .header__logo {
        @include breakpoint(screen(lg)) {
            height: 1.5 * $logo-height;
        }
    }


}
