/**
 * Post
 ************************/

.post {
    @extend %u-section-bottom;

    &__footer {

        &__header {
            @extend %u-section-xs-bottom;
        }

        &__links {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            > * {
                @extend %u-section-xs-bottom;
            }
        }

    }
}
