/**
 * Post
 ************************/

.post {
    @extend %u-section-sm-bottom;

    &__footer {
        border-top: 1px solid color(neutral, lighter);
        padding-top: spacing(xl);

        &__header {
            @extend %u-section-xs-bottom;
        }

        &__links {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            > * {
                @extend %u-section-xs-bottom;
            }
        }

    }
}
