/**
 * Header
 ************************/

$header-height: 2 * spacing();
$header-padding: spacing();

$header-fixed: true;

$header-background: rgba(color(neutral, white), .8);
$header-text: color(neutral, dark);
$header-box-shadow: 0 .75em 1.5em -1em rgba(color(neutral, dark), 0.3);

$logo-height: 36px;

$header-sidebar: true;
$header-sidebar-width: 180px;
