/**
 * Header
 ************************/

$header-height: 2 * spacing();
$header-padding: spacing();

$header-fixed: true;

$header-background: rgba(color(neutral, white), .9);
$header-text: color(neutral, dark);
$header-box-shadow: 0 .5em 1.5em -1em rgba(color(neutral, dark), 0.3);

$logo-height: 36px;

$header-sidebar: true;

$header-sidebar-width: 12em;
$header-sidebar-background: color(neutral ,white);
$header-sidebar-box-shadow: .75em 0 1.5em -1em rgba(color(neutral, dark), 0.3);
