
/**
 * Header Layout
 ************************/

.header {
    height: $header-height;
    &__wrapper {
        padding: $header-padding;
        background: $header-background;

        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 .75em 1.5em -1em rgba(color(neutral, dark), 0.3);
    }
    &--edges {
        @extend %u-flex--edges;
    }
}


/**
 * Header Branding
 ************************/

.header {
    &__logo {
        height: $logo-height;
    }
}
