/**
 * Border Block
 ************************/

.border-block,
%border-block {
    &::after {
        content: "";
        display: block;
        width: 42px;
        height: 12px;
        margin-top: 8px;
        background-color: color(branding, orange);
    }

    &--alt::after {
        width: 32px;
        height: 8px;
    }
}
