/**
 * Hero
 ************************/

.hero {
    overflow: auto;

    .subtitle {
        margin-top: spacing(xxs);
        margin-bottom: spacing();
    }

    &.has-subtitle {
        .title {
            margin-bottom: spacing(xxs);
        }
    }
}
