/**
 * Hero
 ************************/

.hero,
%hero {
    &.has-subtitle {
        .title {
            margin-bottom: 0;
        }
    }

    .subtitle {
        margin-top: spacing(xxs);
        margin-bottom: spacing();
    }
}
