/**
 * Nav
 ************************/

.nav,
%nav {
    @extend %u-list-unstyled;

    a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-family: $header-font-family;
        font-size: $font-size;
        position: relative;
        color: color(neutral, dark);
    }
}


/**
 * Nav Pills
 ************************/

.nav--pills,
%nav--pills {
    a {
        display: block;
        padding: spacing(xs) spacing(sm);
    }
}


/**
 * Nav Inline
 ************************/

.nav--inline,
%nav--inline {
    @include flex;
    @include flex-wrap(wrap);
    white-space: nowrap;
}


/**
 * Nav Space
 ************************/

.nav--space,
%nav--space {
    &:not(.nav--inline) > * {
        margin-bottom: spacing(sm);
    }

    &.nav--inline > * {
        margin-right: spacing(sm);

        &:last-child {
            margin-right: 0;
        }
    }
}


/**
 * Nav Multi Level
 ************************/

.nav--multi-level,
%nav--multi-level {
    li {
        position: relative;
    }

    // All levels
    ul,
    ol {
        @extend %nav;
        display: none;
        position: absolute;
    }

    // Just Level 0
    > ul,
    > ol {
        top: 100%;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
        top: 0;
        left: 100%;
    }

    li:hover > ul,
    li:hover > ol {
        display: block;
    }

    a {
        white-space: nowrap;
    }
}


/**
 * Nav Sidebar
 ************************/

 @if $header-sidebar {
    .nav {
        @include breakpoint(screen(lg)) {
            flex-direction: column;
            text-align: right;
            a {
                font-size: $font-size-lg;
            }
        }
    }
 }


/**
 * Nav Hover Styles
 ************************/

.nav a {
    &.is-active,
    &:hover,
    &:focus {
        color: color(primary);
    }
}
