/**
 * Title Size
 ************************/

@mixin title-size($multiplier: 1) {
    font-size: $heading-min * $multiplier;

    @include breakpoint($screen-min) {
        font-size: $heading-max * $multiplier;
    }

    @include breakpoint($screen-max) {
        font-size: $heading-max * ($multiplier * 1.25);
    }
}


/**
 * Title
 ************************/

.title,
%title {
    @include title-size(1.8);

    font-weight: $font-weight;
}

.title--bold,
%title--bold {
    font-weight: $font-weight-bold;
}

.title--lander,
%title--lander {
    max-width: 87%;

    @include breakpoint(screen(xs)) {
        max-width: 70%;
    }

    @include breakpoint(screen(md)) {
        max-width: 50%;
    }

    @include breakpoint(screen(lg)) {
        max-width: 45%;
    }
}
